<p>
	<span class="caught">You have caught {{caught}} pokemon.</span>
	{{#if remaining}}
		<span class="remaining">Gotta catch <span class="remaining-amount" title="FML">{{remaining}}</span> more!</span>
	{{/if}}
</p>

{{!-- <p><button {{action "catchEmAll"}}>Catch em all</button></p> --}}
<p><button {{action "filterPokes"}}>Filter em all</button></p>

{{#if showFiltered}}
	{{view App.PokemonListView contentBinding="filteredPokes"}}
{{else}}
	{{view App.PokemonListView contentBinding="pokemons"}}
{{/if}}